{
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "###FQDN###",
        "Type": "A",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "###IP_ADDRESS###"
          }
        ]
      }
    }
  ]
}
